[submodule "source/include/godot-cpp"]
	path = source/include/godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp.git
	branch = 3.2
[submodule "source/src/gdregistry"]
	path = source/src/gdregistry
	url = https://github.com/hlfstr/gdregistry.git
[submodule "addons/gdutil"]
	path = addons/gdutil
	url = https://github.com/hlfstr/gdutil.git
